#!/bin/bash

set -euo pipefail

{{ $profile := joinPath .chezmoi.homeDir "nix-config/modules/profile.nix" -}}
{{- $lock := joinPath .chezmoi.homeDir "nix-config/flake.lock" -}}

echo ":: [03] Switching Nix profile"

# Source nix environment if not already available
{{ include ".chezmoitemplates/shell/source_nix_env.sh" }}
nix run ~/nix-config#{{ .hostname }}.switch
