#!/bin/bash

set -euo pipefail

{{ $miseConfig := joinPath .chezmoi.homeDir ".config/mise/config.toml" -}}

echo ":: [05] Installing mise tools"

if command -v mise &>/dev/null; then
    mise install --yes
else
    echo "    Skipped (mise not found)"
fi
