#!/bin/bash
# darwin-only: excluded on linux via .chezmoiignore

set -euo pipefail

{{ $flake := joinPath .chezmoi.homeDir "nix-config/flake.nix" -}}
{{- $lock := joinPath .chezmoi.homeDir "nix-config/flake.lock" -}}
{{- $apps := joinPath .chezmoi.homeDir "nix-config/modules/apps.nix" -}}
{{- $system := joinPath .chezmoi.homeDir "nix-config/modules/system.nix" -}}
{{- $hostUsers := joinPath .chezmoi.homeDir "nix-config/modules/host-users.nix" -}}

echo ":: [02] Configuring nix-darwin"

# Source nix environment if not already available
{{ include ".chezmoitemplates/shell/source_nix_env.sh" }}
if ! command -v darwin-version >/dev/null 2>&1; then
    echo "    Installing nix-darwin..."
    sudo nix run nix-darwin/master#darwin-rebuild -- switch --flake ~/nix-config#{{ .hostname }} --show-trace --verbose
else
    echo "    Switching nix-darwin configuration..."
    sudo darwin-rebuild switch --flake ~/nix-config#{{ .hostname }} --show-trace --verbose
fi
