agents:
  default:
    - claude
    - standard

{{- $nowledgeMemManaged := false }}
{{- if hasKey . "nowledgeMemManaged" }}
{{-   $nowledgeMemManaged = .nowledgeMemManaged }}
{{- end }}
packages:
  - repo: anthropics/skills
    target_dir: anthropics
    agents:
      excludes:
        - claude
    skills:
      - skill-creator
      # - brand-guidelines
      - algorithmic-art
  - repo: openai/skills
    target_dir: ecosystem/openai
    agents:
      excludes:
        - claude
    skills:
      - gh-fix-ci
      # - playwright
      # - security-best-practices
      # - security-threat-model
      # - security-ownership-map
  - repo: https://github.com/blader/humanizer
  - repo: https://github.com/op7418/Humanizer-zh
  - repo: https://github.com/op7418/guizang-ppt-skill.git
  # - repo: multica-ai/andrej-karpathy-skills
  #   skills:
  #     - karpathy-guidelines
  - repo: epiral/bb-browser
    skills:
      - bb-browser
  # - repo: tw93/Waza
{{- if not $nowledgeMemManaged }}
  - local_path: ~/.config/skimi/ai-now
{{- end }}
  #- local_path: ~/.config/skimi/skills/op-plugin-run
  #- local_path: ~/.config/skimi/skills/gitlab-cli
