{ pkgs, ... }:
{
  ##########################################################################
  #
  #  Install all apps and packages here.
  #
  # Tip: Feel free to modify this file to fit your needs.
  #
  ##########################################################################

  # Install packages from nix's official package repository.
  #
  # The packages installed here are available to all users, and are reproducible across machines, and are rollbackable.
  # But on macOS, it's less stable than homebrew.
  #
  # Related Discussion: https://discourse.nixos.org/t/darwin-again/29331
  environment.systemPackages = with pkgs; [
    {{- range .sysPkgs }}
    {{ . }}
    {{- end }}
  ];
  environment.variables.EDITOR = "nvim";

  # Note: To make this work, Homebrew needs to be installed manually, see https://brew.sh
  #
  # The apps installed by homebrew are not managed by nix, and not reproducible!
  # But on macOS, homebrew has a much larger selection of apps than nixpkgs, especially for GUI apps!
  homebrew = {
    enable = true;
    onActivation = {
      autoUpdate = true; # Fetch the newest stable branch of Homebrew's git repo
      upgrade = true; # Upgrade outdated casks, formulae, and App Store apps
      # 'zap': uninstalls all formulae(and related files) not listed in the generated Brewfile
      cleanup = "zap";
    };

    # Applications to install from Mac App Store using mas.
    # You need to install all these Apps manually first so that your apple account have records for them.
    # otherwise Apple Store will refuse to install them.
    # For details, see https://github.com/mas-cli/mas
    # Tip: Feel free to add your favorite apps here.
    {{- if .installMasApps }}
    masApps = {
      {{- range .homebrew.masApps.shared }}
      {{ index . 0 }} = {{ index . 1 }};
      {{- end }}
      {{- if .work }}
      {{- range .homebrew.masApps.work }}
      {{ index . 0 }} = {{ index . 1 }};
      {{- end }}
      {{- end }}
      {{- if .private }}
      {{- range .homebrew.masApps.private }}
      {{ index . 0 }} = {{ index . 1 }};
      {{- end }}
      {{- end }}
    };
    {{- else }}
    masApps = {}; # Disabled via installMasApps = false
    {{- end }}

    # `brew install`
    # Tip: Feel free to add your favorite packages here.
    brews = [
      {{- range .homebrew.brews.shared }}
      {{ . | quote }}
      {{- end }}
      {{- if .work }}
      {{- range .homebrew.brews.work }}
      {{ . | quote }}
      {{- end }}
      {{- end }}
      {{- if .private }}
      {{- range .homebrew.brews.private }}
      {{ . | quote }}
      {{- end }}
      {{- end }}
    ];

    # `brew install --cask`
    # Tip: Feel free to add the apps you need here.
    casks = [
      {{- range .homebrew.casks.shared }}
      {{ . | quote }}
      {{- end }}
      {{- if .work }}
      {{- range .homebrew.casks.work }}
      {{ . | quote }}
      {{- end }}
      {{- end }}
      {{- if .private }}
      {{- range .homebrew.casks.private }}
      {{ . | quote }}
      {{- end }}
      {{- end }}
    ];

    taps = [
      {{- range .homebrew.taps.shared }}
      {{ . | quote }}
      {{- end }}
      {{- if .work }}
      {{- range .homebrew.taps.work }}
      {{ . | quote }}
      {{- end }}
      {{- end }}
      {{- if .private }}
      {{- range .homebrew.taps.private }}
      {{ . | quote }}
      {{- end }}
      {{- end }}
    ];
  };
}
