{
  pkgs,
  flakey-profile,
  ...
}:
flakey-profile.lib.mkProfile {
  inherit pkgs;
  paths = with pkgs; [
    {{- range .nix.homepkgs.shared }}
    {{ . }}
    {{- end }}
    {{- if .work }}
    {{- range .nix.homepkgs.work }}
    {{ . }}
    {{- end }}
    {{- end }}
    {{- if .private }}
    {{- range .nix.homepkgs.private }}
    {{ . }}
    {{- end }}
    {{- end }}
  ];
}
